
<style>

body {
    margin:0;
    padding:0;
}

#stretch {
    width: 580px;
    height: 175px;
    padding: 15px 20px;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    background: #EEF2EA;
}

h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 20px 0;
}

p {
    font-size: 16px;
    line-height: 26px;
    margin:0;
    font-weight: 200;
}

a {
    color: #000;
}

.timer {
    float:left;
    margin-right: 20px;
}

.count {
    font-size: 100px;
    color: #76CC1E;
}
.minutes .count {
    color: #e44007;
}

.label {
    font-size: 14px;
    line-height: 14px;
    color: #848880;
    font-weight: 200;
}

.description {
    display: block;
    float: left;
    margin-top:10px;
}

</style>

<div id="stretch">
    <div class="timer days">
        <span class="count">{{day}}</span>
        <span class="label">Days</span>
    </div>
    <div class="timer hours">
        <span class="count">{{hour}}</span>
        <span class="label">Hours</span>
    </div>
    <div class="timer minutes">
        <span class="count">{{minute}}</span>
        <span class="label">Minutes</span>
    </div>
    <p class="description">Your last chance to grab our Ghost rewards! Once the timer hits zero, it's all over.</p>
</div>